<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Apresentação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gatos" href="/tabs/gatos">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Gatinhos Fofinhos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>