<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meu perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-item lines="none" class="ion-margin-top">
      <ion-avatar slot="start">
        <img src="assets/img/perfil.png" alt="Foto de perfil"/>
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Victor Luiz Batista Souza</ion-card-title>
        <ion-card-subtitle>Análise e Desenvolvimento de Sistemas</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item><ion-label><h3>Matrícula:</h3><p>24105408</p></ion-label></ion-item>
        <ion-item><ion-label><h3>Unidade:</h3><p>Unisuam - Campo Grande</p></ion-label></ion-item>
      </ion-list>
    </ion-card-content>
        <ion-card-content>
    <p>
      Olá! Sou estudante de Análise e Desenvolvimento de Sistemas.
      Estou muito animado para aprender mais sobre desenvolvimento
      mobile com Ionic e trocar experiências com todos os professores e colegas de sala durante este período.
    </p>
    <p>
      Meus hobbies incluem ler, jogar vôlei e explorar novas tecnologias.
      Vamos fazer um ótimo semestre juntos! 😀
    </p>
    </ion-card-content>
  </ion-card>
</ion-content>